<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="profesorInfo">
            <h2><span jhiTranslate="licentaApp.profesorInfo.detail.title">Profesor Info</span> {{ profesorInfo.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="licentaApp.profesorInfo.user">User</span></dt>
                <dd>
                    {{ profesorInfo.user?.login }}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/profesor-info', profesorInfo.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
