<div>
    <h2 id="page-heading">
        <span jhiTranslate="licentaApp.studentInfo.home.title">Student Infos</span>

        <!-- <button *jhiHasAnyAuthority="'ROLE_ADMIN'" id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-student-info" [routerLink]="['/student-info/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="licentaApp.studentInfo.home.createLabel">
            Create a new Student Info
            </span>
        </button> -->
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="studentInfos?.length === 0">
        <span jhiTranslate="licentaApp.studentInfo.home.notFound">No studentInfos found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="studentInfos?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="user.login"><span jhiTranslate="licentaApp.studentInfo.user">User</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="profesor.id"><span jhiTranslate="licentaApp.studentInfo.profesor">Profesor</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let studentInfo of studentInfos ;trackBy: trackId">
                    <td><a [routerLink]="['/student-info', studentInfo.id, 'view']">{{ studentInfo.id }}</a></td>
                    <td>
                        {{ studentInfo.user?.login }}
                    </td>
                    <td>
                        <div *ngIf="studentInfo.profesor">
                            <a [routerLink]="['/profesor-info', studentInfo.profesor?.id, 'view']" >{{ studentInfo.profesor?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/student-info', studentInfo.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/student-info', studentInfo.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(studentInfo)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="studentInfos?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
