<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="consultatie">
            <h2><span ></span> Consultatia profesorului {{ consultatie?.profesor?.user?.lastName }} {{ consultatie?.profesor?.user?.firstName }}</h2>
            <!-- jhiTranslate="licentaApp.consultatie.detail.title" -->
            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="licentaApp.consultatie.data">Data</span></dt>
                <dd>
                    <span>{{ consultatie?.data | date:'medium' }}</span>
                </dd>
                <dt  ><span jhiTranslate="licentaApp.consultatie.rezolvata">Expirata</span></dt>
                <dd>
                    <!-- <span>{{ consultatie.rezolvata }}</span> --> 
                    <span *ngIf="consultatie?.rezolvata">Da</span>
                    <span *ngIf="!consultatie?.rezolvata">Nu</span>
                </dd>
                <dt><span jhiTranslate="licentaApp.consultatie.acceptata">Acceptata</span></dt>
                <dd>
                    <span *ngIf="consultatie?.acceptata">Da</span>
                    <span *ngIf="!consultatie?.acceptata">Nu</span>
                </dd>
                <dt><span jhiTranslate="licentaApp.consultatie.student">Student</span></dt>
                <dd>
                    <div *ngIf="consultatie?.student">
                        <a [routerLink]="['/student-info', consultatie?.student?.id, 'view']">{{ consultatie?.student?.user?.lastName }} {{ consultatie?.student?.user?.firstName }}</a>
                    </div>
                    <div *ngIf="!consultatie?.student">
                        Nici un student
                    </div>
                </dd>
                <dt><span jhiTranslate="licentaApp.consultatie.profesor">Profesor</span></dt>
                <dd>
                    <div *ngIf="consultatie?.profesor">
                        <a [routerLink]="['/profesor-info', consultatie?.profesor?.id, 'view']">{{ consultatie?.profesor?.user?.lastName }} {{ consultatie?.profesor?.user?.firstName }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button" *ngIf="consultatie?.profesor?.id === curentProfesorID"
                        [routerLink]="['/consultatie', consultatie?.id, 'edit']"
                        class="btn btn-primary">
                    <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
            

            <button type="button" *jhiHasAnyAuthority="['ROLE_ADMIN']"
                    [routerLink]="['/consultatie', consultatie?.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
