<div>
    <h2 id="page-heading">
        <span jhiTranslate="licentaApp.aplicareConsultatie.home.title">Aplicare Consultaties</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-aplicare-consultatie" [routerLink]="['/aplicare-consultatie/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="licentaApp.aplicareConsultatie.home.createLabel">
            Create a new Aplicare Consultatie
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="aplicareConsultaties?.length === 0">
        <span jhiTranslate="licentaApp.aplicareConsultatie.home.notFound">No aplicareConsultaties found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="aplicareConsultaties?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="rezolvata"><span jhiTranslate="licentaApp.aplicareConsultatie.rezolvata">Rezolvata</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="acceptata"><span jhiTranslate="licentaApp.aplicareConsultatie.acceptata">Acceptata</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="student.id"><span jhiTranslate="licentaApp.aplicareConsultatie.student">Student</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="consultatie.id"><span jhiTranslate="licentaApp.aplicareConsultatie.consultatie">Consultatie</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let aplicareConsultatie of aplicareConsultaties ;trackBy: trackId">
                    <td><a [routerLink]="['/aplicare-consultatie', aplicareConsultatie.id, 'view']">{{ aplicareConsultatie.id }}</a></td>
                    <td>{{ aplicareConsultatie.rezolvata }}</td>
                    <td>{{ aplicareConsultatie.acceptata }}</td>
                    <td>
                        <div *ngIf="aplicareConsultatie.student">
                            <a [routerLink]="['/student-info', aplicareConsultatie.student?.id, 'view']" >{{ aplicareConsultatie.student?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="aplicareConsultatie.consultatie">
                            <a [routerLink]="['/consultatie', aplicareConsultatie.consultatie?.id, 'view']" >{{ aplicareConsultatie.consultatie?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/aplicare-consultatie', aplicareConsultatie.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/aplicare-consultatie', aplicareConsultatie.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(aplicareConsultatie)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="aplicareConsultaties?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
