/* ==========================================================================
Main page styles
========================================================================== */

.hipster {
  display: inline-block;
  width: 600px;
  height: 396px;
  background: url('../../content/images/logo2.svg') no-repeat center center;
  background-size: contain;
}

.logo {
  display: inline-block;
  width: 600px;
  height: 396px;
  background: url('../../content/images/logo2.svg') no-repeat center center;
  background-size: contain;
}

/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (-moz-min-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
  .hipster {
    background: url('../../content/images/logo2.svg') no-repeat center center;
    background-size: contain;
  }
  .logo {
    background: url('../../content/images/logo2.svg') no-repeat center center;
    background-size: contain;
  }
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column.side,
  .column.middle {
    width: 100%;
  }
}
