<div>
    <h2 id="page-heading">
        <span jhiTranslate="licentaApp.aplicareLicenta.home.title">Aplicare Licentas</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-aplicare-licenta" [routerLink]="['/aplicare-licenta/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="licentaApp.aplicareLicenta.home.createLabel">
            Create a new Aplicare Licenta
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="aplicareLicentas?.length === 0">
        <span jhiTranslate="licentaApp.aplicareLicenta.home.notFound">No aplicareLicentas found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="aplicareLicentas?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="rezolvata"><span jhiTranslate="licentaApp.aplicareLicenta.rezolvata">Rezolvata</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="acceptata"><span jhiTranslate="licentaApp.aplicareLicenta.acceptata">Acceptata</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="student.id"><span jhiTranslate="licentaApp.aplicareLicenta.student">Student</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="licenta.denumire"><span jhiTranslate="licentaApp.aplicareLicenta.licenta">Licenta</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let aplicareLicenta of aplicareLicentas ;trackBy: trackId">
                    <td><a [routerLink]="['/aplicare-licenta', aplicareLicenta.id, 'view']">{{ aplicareLicenta.id }}</a></td>
                    <td>{{ aplicareLicenta.rezolvata }}</td>
                    <td>{{ aplicareLicenta.acceptata }}</td>
                    <td>
                        <div *ngIf="aplicareLicenta.student">
                            <a [routerLink]="['/student-info', aplicareLicenta.student?.id, 'view']" >{{ aplicareLicenta.student?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="aplicareLicenta.licenta">
                            <a [routerLink]="['/licenta', aplicareLicenta.licenta?.id, 'view']" >{{ aplicareLicenta.licenta?.denumire }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/aplicare-licenta', aplicareLicenta.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/aplicare-licenta', aplicareLicenta.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(aplicareLicenta)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="aplicareLicentas?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
